<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activity.mapper.event.EventInfoMapper">
    <resultMap id="EventInfoMap" type="com.activity.entity.event.EventInfo" >
        <id column="event_info_id" property="id" jdbcType="INTEGER" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="place" property="place" jdbcType="VARCHAR" />
        <result column="desc" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyColumn="event_info_id" keyProperty="id">
        INSERT INTO event_info(
            start_time, end_time,
            place, `desc`
        )
        values(
            #{eventInfo.startTime}, #{eventInfo.endTime},
            #{eventInfo.place}, #{eventInfo.description}
        );
    </insert>
    <update id="updateAll">
        UPDATE event_info
        <set>
            <if test="startTime != null">
                 start_time = #{eventInfo.startTime}
            </if>
            <if test="endTime != null">
                end_time = #{eventInfo.endTime}
            </if>
            <if test="place != null">
                place = #{eventInfo.place}
            </if>
            <if test="description != null">
                `desc` = #{eventInfo.description}
            </if>
        </set>
        WHERE event_info_id = #{eventInfo.id};
    </update>
</mapper>